/* Global 
=================*/

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2{
    font-family: 'caveat', cursive;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 80px;
}

h2{
    font-size: 40px;
}

.content-wrap {
    width: 950px;
    overflow: auto;
    margin: 0 auto;
}


a{
    color: floralwhite;
}

a:checked{
    color: floralwhite;
}

h4 {
    margin-top: 0;
}

.download{
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn{
    text-decoration: none;
    background: black;
    padding: 16px;
    display: inline-block;
}
/* Header and footer 
=================*/

header {
    background: #0A509A;
    margin: 0;
    padding: 60px;
    padding-left: 0;
    
    position: relative;
}

footer {
    
    background: #0A509A;
    padding: 10px;
}

footer a{
    text-decoration: none;
}

.profile-img{
    border-radius: 50%;
}

.contacts a{
    font-size: 2em;
    margin: auto 10px;
}

/* navigation
=================*/

nav{
    margin-bottom: 16px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    background: black;
}
nav a{
    margin: 16px;
    text-decoration: none;
    font-weight: 700;
}

/* Section 
=================*/

main {
    background: #EDEDED;
    margin: 0;
    padding: 20px;
}

.job-pos{
    margin: 0;
}

#work{
    padding-top: 60px;
}

/* media query
=======================*/

@media(min-width:900px){
    .col-narrow{
    width: 28%;
    margin-right: 4%;
    float: left;
}

.col-wide{
    width: 68%;
    float: left;
}

}